.playerButtons {
   position: absolute;
    left: 5px;
    top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.playButton {
    cursor: pointer;
    margin-right: 5px;
}

.annotationButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    padding: 5px;
}

.annotationButton {
    width: 15vw;
    border-radius: 5px;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
}

.persistenceButtons {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-top: 30px;
}

.persistButton {
    background-color: lightblue;
    text-transform: uppercase;
    font-size: 2em;
    border-radius: 5px;
    padding: 10px;
    cursor:pointer;
}
