.playerButtons {
   position: absolute;
    left: 5px;
    top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.playButton {
    cursor: pointer;
    margin-right: 5px;
    z-index: 9;
}

.annotationButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    padding: 5px;
}

.annotationButton {
    width: 200px;
    border-radius: 5px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
}

.persistenceButtons {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 0px;
}

.persistButton {
    background-color: lightblue;
    text-transform: uppercase;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 10px;
    cursor:pointer;
}

.currentRegion {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.removeButton {
    color: red;
    cursor: pointer;
    margin-left: 5px;
    font-weight: bold;
}
