.playerButtons {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.playButton {
    margin: 5px;
    padding: 5px;
    background-color: lightgray;
    cursor: pointer;
    border-radius: 5px;
}

.annotationButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
}

.annotationButton {
    width: 25vw;
    border-radius: 5px;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
}
